@import "homestyle.css";
@import "responsive.css";

/* select all the elements, and styles them*/
* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

body {background: #E4F3FF;}
	
a {
	text-decoration: none;
    color: #8DC8F3;
}

a:hover {
	text-decoration: underline;
	color: white;
	background-color: rgb(0, 0, 34);;
	font-weight: bolder;
}



a:active {color: green;}

li {color: inherit;}

img, video, object {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}




